{% extends "fengmian/base.html" %}

{% block title %} USER MANAGER {% endblock %}
{% block style %}
<style>
    body {
        background-color: lightcyan;
    }
    .container {
        text-align: center;
    }
    .add-tips {
        display: block;
        color: #f80;
    }
</style>
{% endblock %}

{% block container %}
<div class="userhandle mt-5">
    <div class="add mb-3 btn-toolbar">
        <div class="input-group mr-5 mb-2">
            <input type="text" name="uid" id="addUid" class="form-control" placeholder="Enter text">
        </div>
        <div class="btn-group">
            <input type="button" value="addone" id="add" class="btn btn-primary">
            <input type="button" value="addall" id="addAll" class="btn btn-info">
            <input type="button" value="delete" id="del" class="btn btn-secondary">
        </div>
    </div>
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
        <div class="toast-header">
          <strong class="mr-auto">TIPS</strong>
          <small>11 mins ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <p class="add-tips"></p>
        </div>
      </div>
</div>
<div class="show-userinfo">
    <div class="pdd-info">
        <div class="card">
            <div class="card-head">
                <p class="h5">多多视频详情</p>
            </div>
            <div class="card-body">
                <p class="text-info">当前使用人数<span class="text-danger">{{ usernums }}</span></p>
                <p class="text-info">当前视频总数<span class="text-danger">{{ videonums }}</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
